header {
  background-color: #140a00d2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5px;
  width: 100%;
}

header div h1 {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Nanum Pen Script', cursive;
}

header div h1 {
  color: #c8c8c8;
  margin: 0;
  text-align: center;
  padding: 20px 0 0 0;
  line-height: 35px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 23px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  padding-top: 10px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #c8c8c8;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  
  padding: 0 10px 0 0;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 100;
}

header nav ul li a:hover {
  color: #c8c8c8;
}

body {
  margin: 0;
  background-color: #e7e6e4;
}

main {
  font-family: 'Black Han Sans', sans-serif;
  color: #140a00d2;
  font-weight: 100;
}

img.profilepicture {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img.rounded {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.wrapper {
  width: 80%;
  margin: auto;
}

main .wrapper h2 {
  text-align: center;
}

main .wrapper h3 {
  color: black
}

.bulletpoints li {
  padding: 0;
  margin-bottom: 15px;
}

main .introcontact {
  font-size: 24px;
}

#home {
  padding: 20px 0 30px 0;
}

#about {
  background-color: #a3a2a0;
  padding: 20px 0 30px 0;
  
}

.portfolioTitle {
  padding-top: 20px;
}

.portfolioItemFlex {
  width: 80%;
}

img.imgPortfolio {
  width: 250px;
  height: 143px;
  padding-bottom: 0;
}

.groupPortfolio {
  margin-bottom: 20px;
}

#contact {
  background-color: #a3a2a0;
  padding: 20px 0 30px 0
}

#contact .introcontact {
  padding-left: 10px;
}

form {
  padding-right: 6px;
  width: 50%;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 100px;
}

@media all and (min-width: 450px){

    img.imgPortfolio {
    width: 350px;
    height: 200px;
  }

}

@media all and (min-width: 545px) {
  .portfolioItemFlex {
    width: 75%;
  }
}

@media all and (min-width: 600px) {
  .portfolioItemFlex {
    width: 67%;
  }
}

@media all and (min-width: 700px) {
  .portfolioItemFlex {
    width: 55%;
  }
}

@media all and (min-width: 800px) {
  
  header {
    display: flex;
    background-color: #140a00d2;
    padding-top: 50px;
    padding-bottom: 5px;
  }

  header div h1 {
    font-size: 90px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Nanum Pen Script', cursive;
    color: #c8c8c8;
    margin: 0;
    padding: 10px;
    line-height: 35px;
    text-align: left;
  }

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 10px;
  }

  header nav ul li {
    list-style-type: none;
  }

  header nav ul li a {
    color: #c8c8c8;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px 0 0;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 100;
  }

  header nav ul li a:hover {
    color: #c8c8c8;
  }

  main .wrapper h2 {
    padding-left: 10px;
    margin-bottom: 0;
    text-align: start;
  }
  
  .group {
    flex-direction: row;
  }

  .portfolioItemFlex {
    width: 50%;
  }

  img.profilepicture {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  img.rounded {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #contact .introcontact {
  text-align: center;
  }

  .groupContact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .itemContact {
    width: 100%;
  }

  form {
    width: 100%
  }
  
}

@media all and (min-width: 915px) {

  .portfolioItemFlex {
    width: 100%;
  }

  .portfolioFlex {
    display: flex;
    direction: row;
  }

  .portfolioItemFlex {
    flex: 1;

  }
}


@media all and (min-width: 1260px) {

  img.profilepicture {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  img.rounded {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .portfolioFlex {
    display: block;
  }

  .groupPortfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

.itemPortfolio {
    width: 30%;
  }

.portfolioSectionTitle{
    margin-bottom: 20px;
  }

}

main  a:link { color: blue }
main  a:visited { color: purple }
main  a:hover { color: #403933; }
a:active { color: #403933; }
